{# This creates interface IP configs #}
{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
  ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4']}}/{{ underlay[inventory_hostname]['interfaces'][item]['mask']}}
{% if 'Ethernet' in item %}
  no switchport
  mtu 9214
{% endif %}
{% endfor %}

{# This creates BGP configs #}
ip prefix-list LOOPBACK
{% if underlay[inventory_hostname] == 'leaf1_DC1' or underlay[inventory_hostname] == 'leaf2_DC1' or underlay[inventory_hostname] == 'leaf3_DC1' or underlay[inventory_hostname] == 'leaf4_DC1' or underlay[inventory_hostname] == 'borderleaf1_DC1' or underlay[inventory_hostname] == 'borderleaf2_DC1' %}
ip prefix-list LOOPBACK seq 10 permit 192.168.101.0/24 le 32
{% else %}
ip prefix-list LOOPBACK seq 10 permit 192.168.201.0/24 le 32
{% endif %}
route-map LOOPBACK permit 10  {# Include the loopback ranges for the DC #}
  match ip address prefix-list LOOPBACK
router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
  router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4']}}
  no bgp default ipv4-unicast
  maximum-paths 3
  distance bgp 20 200 200
  neighbor SPINE_Underlay peer group
{% if underlay[inventory_hostname] == 'leaf1_DC1' or underlay[inventory_hostname] == 'leaf2_DC1' or underlay[inventory_hostname] == 'leaf3_DC1' or underlay[inventory_hostname] == 'leaf4_DC1' or underlay[inventory_hostname] == 'borderleaf1_DC1' or underlay[inventory_hostname] == 'borderleaf2_DC1' %}
  neighbor SPINE_Underlay remote-as 65100
{% else %}
  neighbor SPINE_Underlay remote-as 65200
{% endif %}
  neighbor SPINE_Underlay send-community
  neighbor SPINE_Underlay maximum-routes 12000
  neighbor LEAF_Peer peer group 
  neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['BGP']['ASN'] }}
  neighbor LEAF_Peer next-hop-self
  neighbor LEAF_Peer maximum-routes 12000
{% for peer in underlay[inventory_hostname]['spine-peers'] %}
  neighbor {{ peer }} peer group SPINE_Underlay
{% endfor %}
  redistribute connected route-map LOOPBACK
  address-family ipv4
    neighbor SPINE_Underlay activate
    neighbor LEAF_Peer activate