{% if inventory_hostname == 'right_DC1' or inventory_hostname == 'right_DC2'%}

{# This creates the peer-link VLAN #}
vlan 4094
   name peerlink_VLAN
   trunk group MLAG_peer
!
{# This disables STP for peer-link VLAN #}
no spanning-tree vlan-id 4094
!
{# This creates the peer-link VLAN SVI #}
interface vlan 4094
   description peerlink_SVI
   no autostate
   ip address 192.168.255.2
!
{# This creates the port-channel configs #}
interface ethernet1
    channel-group 10 mode active
!
interface ethernet2
    channel-group 10 mode active
!
interface port-channel10
    switchport mode trunk
    switchport trunk group MLAG_peer
!

{# This creates the MLAG config #}
mlag configuration
    domain-id MLAG
    peer-link port-channel10
    local-interface vlan 4094
    peer-address 192.168.255.1
!
{% end if  %}